p {
    display: block;
    color: #FFF;
}

h2 {
    box-shadow: none;
    color: #02e63c;
}

h3 {
    box-shadow: none;
    color: #ff79c6;
}

section {
    color: #FFF;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

h1, a {
    color: #ff8b10;
}

a {
    box-shadow: none;
}

h1 {
    font-family: 'Roboto', sans-serif, bold;
}

h1 a {
    box-shadow: none;
    color: #02e63c;
}

h3 {
    font-family: 'Roboto', sans-serif, bold;
}

small {
    color: #ebff00;
}

footer {
    color: #02e63c;
}

.date {
    display: block;
    color: #ebff00;
}

.title {
    box-shadow: none;
    color: #02e63c;
    text-align: center;
}

.back {
    margin-top: -0.5rem;
}

.container {
    background-color:#282a36;
    min-height: 100vh;
    padding: 30px;
}

@media only screen and (max-device-width: 600px) {
    .container {
        padding: 5px;
    }
}    